/** npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */

body {
    font-family: 'Gilroy';
}

/******* COLOR ********/
/* color Dark blue */

.primary-color-dark-blue {
    color: #003459;
}

.primary-color-dark-blue40 {
    color: #0078CD;
}

.primary-color-dark-blue60 {
    color: #00528C;
}

.primary-color-dark-blue80 {
    color: #002A48;
}

/* color Yellow */

.secondary-color-yellow {
    color: #F7DBA7;
}

.secondary-color-yellow40 {
    color: #FCEED5;
}

.secondary-color-yellow60 {
    color: #F1D092;
}

.secondary-color-yellow80 {
    color: #EEC77E;
}

.pink-red {
    color: #FF564F;
}

.green-light {
    color: #34c759;
}

.orange-shine {
    color: #ff912c;
}

/* color Neutre  */

.neutral100{
    color: #00171f;
}

.neutral80{
    color: #242b33;
}

.neutral60{
    color: #667479;
}

.neutral40{
    color: #99a2a5;
}

/***** COMPONENT *********/

.button-default {
    background-color: #003459;
    padding: 12px 28px 12px 28px;
    border-radius: 57px;
    color: #fff;
    border: 1px solid transparent;
}

.button-default:hover {
    border: 1.5px solid #003459;
    border-radius: 57px;
    color: #003459;
    background-color: transparent;
}

.button-footer {
    background-color: #003459;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid transparent;
}

.button-footer:hover {
    border: 1.5px solid #003459;
    border-radius: 8px;
    color: #003459;
    background-color: transparent;
}

.button-white{
    padding: 12px 28px 12px 28px;
    border: 1.5px solid #003459;
    border-radius: 57px;
    color: #003459;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-white:hover {
    background-color: #003459;
    border-radius: 57px;
    color: #fff;
    border: 1px solid transparent;
}

.button-white:hover .play-white{
    display: block;
}

.button-white:hover .play-dark-blue{
    display: none;
}

.button-white-reverse {
    background-color: #003459;
    border-radius: 57px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 28px 12px 28px;
    gap: 8px;
}

.button-white-reverse:hover {
    border-radius: 57px;
    display: flex;
    color: #fff;
    align-items: center;
}

.button-default-reverse {
    background-color: #fff;
    padding: 12px 28px 12px 28px;
    border-radius: 57px;
    color: #00171F;
    border: 1px solid #fff;
}

.input-default {
    padding: 12px 28px 12px 28px;
    color: #99A2A5;
    outline: none;
    border: 1px solid #99A2A5;
    border-radius: 8px;
}

/**** FONT FAMILY *****/

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/font-family/gilroy/Gilroy-Medium.ttf'),
         url('../assets/font-family/gilroy/Gilroy-Bold.ttf'),
         url('../assets/font-family/gilroy/Gilroy-Regular.ttf');
}

/**** CSS personalier ******/

.contenair-banner{
    background-image: url('./assets/images/illustration/Herro-Banner.png');
}

/* header */

.input-menu input {
    padding: 12px 40px 12px 48px;
    color: #99A2A5;
    border-radius: 46px;
}

.select-menu option{
    color: #34c759;
    background-color: #00528C;
    border-radius: 50px;
}

.select-menu option:first-child{
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;

}

/****** TAKE A LOOK ******/
.items-take{
    box-shadow: 0px 4px 28px -2px #00000014;
}

.items-products {
    box-shadow: 0px 4px 28px -2px #00000014;
}

/******** PRODUCTS ********/

.free-toy {
    bottom: 10px;
}

/******* USEFUL *******/

.button-pet {
    padding: 5px 10px 5px 10px;
}

.items-useful a{
    box-shadow: 0px 4px 28px -2px #0000004a;
}

.description-useful{
    height: 150px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
}

/****** CALENDAR **********/

/***** PRICE *********/

.items-price:hover .arrow {
    display: none !important;
}

.items-price {
    border-bottom: 1px solid #EBEEEF;
}

/******** result ********/

.select-sort{
    padding: 6px 10px 4px 20px;
}

.items-result {
    box-shadow: 0px 4px 28px -2px #00000014;
}

/******* CSS slider detail *********/

.custom-slider { 
    display: block;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
 }
.slide-container {
    height: 476px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: #ffffff4b;
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    /* background-color: rgba(0,0,0,0.5); */
}
.slide-text {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 90px;
    width: 90px;
    padding: 3px;
    border-radius: 6px;
    margin: 0 2px;
    /* background-color: #999999; */
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.6s ease;
}

.dot img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.active, .dot:hover { 
    background-color: #F1D092; 
    padding: 3px;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.menu-scroll {
    background-color: #FCEED5;
}

/************ MENU MOBILE **********************/

/* *, *:after, *:before {
	box-sizing:border-box;
	flex:1 0 auto;
}

hr {
	display:none;
} */

/* html, body {
	height:100%;
} */

legend {
	float:left;
	width:100%;
}

button {
	cursor:pointer;
}
/* 
body, button, input, table, textarea, select {
	font:normal 1em/1.5 "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
} */

/* end reset, start explanation */

/* main {
  max-width:32em;
  margin:1em auto 0;
} */

/* main p {
  margin-bottom:1em;
} */

/* end explanation, start rewrite */

#top {
	display:flex;
	background:#F7DBA7;
    align-items: center;
    position: fixed;
    z-index: 800;
    width: 100%;
    left: 0;
}

/* h1 {
	flex-grow:0;
	padding:1.375rem 2rem;
	font-size:1.5em;
} */

#top a {
	color:#FFF;
	text-decoration:none;
}

#menus {
	text-align:center;
    position: relative;
    z-index: 600;
}

#menus > .menu-mobile-content {
	display:flex;
}

#menus li {
	display:inline;
	list-style:none;
}

#menus li > a {
	position:relative;
	display:inline-block;
	padding:1.75rem 0.5rem;
	transition:transform 0.3s;
}

#menus li > a:focus,
#menus li > a:hover {
	transform:scale(1.2);
}

#menus a span {
	position:absolute;
	left:-999em;
}

#userMenu {
	flex-grow:0;
	font-size:1.25em;
	line-height:1.2;
	padding:0 2rem;
}

#userMenu .hasItems:after {
	content:"";
	position:absolute;
	top:1.5rem;
	right:0;
	width:0.5em;
	height:0.5em;
	background:#F4C;
	border-radius:0.25em;
	animation:ping 1s infinite;
}

@keyframes ping {
	75% { box-shadow:0 0 0 #F4C0 }
	100% { box-shadow:0 0 0.0625em 0.0625em #F4CC }
}

@media (min-width:320px) {
	h1 {
		flex-grow:1;
	}
	#top a[class^="modal"] {
		display:block; /* undo hidden attribute */
	}
	#top .modalOpen {
		flex-grow:0;
		padding:0.875rem 1rem;
	}
	#top .modalOpen:before,
	#menus > .menu-mobile-content > .modalClose:before {
		font-size:2em;
		font-family:"Font Awesome 5 Free";
		font-weight: 900;
	}
	#top .modalOpen:before {
		content:" ";
    /* background-image: url('./assets/images/icon/Hamburger_MD.png');
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 32px;
    transform: translate(-10px, 10px); */
	}
	#menus > .menu-mobile-content > .modalClose:before {
		content:" ";
		background-image: url('../assets/images/icon/icons8-close-23.png');
        /* height: 100%;
        width: 100%; */
	}
	#menus {
		display:flex;
		justify-content:center;
		position:fixed;
		left:-100vw;
		top:0;
		opacity:0;
		width:100%;
		height:100%;
		overflow:hidden;
		background:#0008;
		box-shadow:inset 0 0 128px 128px #0008;
		transition:left 0s 0.5s, opacity 0.5s;
	}
	#menus > .modalClose {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	#menus:target {
		left:0;
		opacity:1;
		transition:left 0s, top 0.5s, opacity 0.5s;
	}
	#menus .menu-mobile-content {
        width: 100%;
        height: 70%;
        flex-direction: column;
        position: relative;
        top: 0;
        padding-bottom: 1em;
        background: #F7DBA7;
        box-shadow: 0 0.5em 1em 0.5em #0008;
        transition: top 0.5s;
	}
	#menus > .menu-mobile-content:before {
		content:"Main Menu";
		display:block;
		text-align:left;
		font-size:1.25em;
		padding:1rem 1.25rem;
		color:#003459;
	}
	#menus > .menu-mobile-content .modalClose {
		position:absolute;
		top:0.5rem;
		right:1.25rem;
	}

    #menus > .menu-mobile-content .modalClose img{
		padding: 10px 0px 10px 10px;
	}
	#menus:target .menu-mobile-content {
		top:0;
	}
	#mainMenu {
		display:flex;
		flex-wrap:wrap;
		padding:0.5rem 1rem 0;
	}
	#mainMenu li {
		width:34%;
	}
	#mainMenu li > a {
		display:block;
		padding:0.75em 0.25em;
	}
	#userMenu {
		flex-grow:1;
	}
	#userMenu li > a {
		padding:0.75em;
	}
}

@media (min-width:768px) {
    #top {
        display: none;
    }
}


/************************************ ***********************/

/* RESPONSIVE MENU MOBILE  */


@media (min-width:320px) {
    .join-menu {
        display: none;
    }
    
    .input-menu{
        display: none;
    }
    
    .button-menu {
        display: none;
    }
    
    .select-menu {
        display: none;
    }
    
    .searh-img-menu {
        display: block;
    }
    
    /****** banner ********/

    .content-banner {
        max-width: 92%;
        margin: auto;
    }

    .content-take-look {
        max-width: 92%;
        margin: auto;
    }

    .content-picture-female-dog {
        max-width: 92%;
        margin: auto;
    }

    .content-Our-Products {
        max-width: 92%;
        margin: auto;
    }

    /***** SPONSORE *****/

    .content-sponsor {
        max-width: 92%;
        margin: auto;
    }

    .tilte-presentation {
        max-width: 92%;
        margin: auto;
    }

    .content-useful {
        margin: auto;
        max-width: 92%;
    }


    .content-footer {
        max-width: 92%;
        margin: auto;
    }

    .content-small-dog {
        max-width: 92%;
        margin: auto;
    }

    .tilte-presentation-mobile {
        max-width: 92%;
        margin: auto;
    }

    .filter-dog {
        max-width: 92%;
        margin: auto;
    }

    .result-filter {
        max-width: 92%;
        margin: auto;
    }

}

@media (min-width:1024px) {
    .button-menu {
        display: flex;
    }

    .searh-img-menu {
        display: none;
    }

    .input-menu{
        display: block;
    }
}

@media (min-width:1366px) {
    .select-menu {
        display: block;
    }

    .join-menu {
        display: block;
    }

    .content-banner {
        max-width: 100%;
    }

    .content-take-look {
        max-width: 100%;
    }

    .content-picture-female-dog {
        max-width: 100%;
    }

    .content-Our-Products  {
        max-width: 100%;
    }

    /***** SPONSORE *****/

    .content-sponsor {
        max-width: 100%;
    }

    .tilte-presentation {
        max-width: 100%;
    }

    .content-useful {
        max-width: 100%;
    }

    .content-footer {
        
        max-width: 100%;
    }

    .content-small-dog {
        max-width: 100%;
    }

    .tilte-presentation-mobile {
        max-width: 100%;
    }

    .filter-dog {
        max-width: 100%;
    }

    .result-filter {
        max-width: 100%;
    }
}

.picture-banner {
    perspective: 768px;
    perspective-origin: bottom right;
}

.picture-banner img{
    /* transform: translate3d(0,0,180px); */
}

/**** SPONSORE ****/

